/.vscode
/AnchorElement.html
/Animation.css
/Animation.html
/Backgroundimage.css
/Backgroundimage.html
/bootstrapdemo.html
/Checckbox.html
/col&rowspan.html
/DivElement.html
/flexbox.css
/flexbox.html
/flower.webm
/grid.css
/grid.html
/Headingtag.html
/HelloWorld.html
/ImageElement.html
/Imagehover.css
/Imagehover.html
/index.html
/Inputform.html
/lists.html
/Loginpage.html
/manimage.jpeg
/Mediaque.css
/Mediaque.html
/navbar.css
/navbar.html
/pic.jpg.jpeg
/picc white.jpg
/Portfolio.html
/positionprop.css
/positionprop.html
/Practice1ues16.html
/Practiceques1.html
/Practiceques10.html
/Practiceques11.html
/Practiceques12.html
/Practiceques13.html
/Practiceques14.css
/Practiceques14.html
/Practiceques15.css
/Practiceques15.html
/Practiceques16.css
/Practiceques17.css
/Practiceques17.html
/Practiceques18.css
/Practiceques18.html
/Practiceques19.css
/Practiceques19.html
/practiceques2.html
/Practiceques20.css
/Practiceques20.html
/Practiceques21.css
/Practiceques21.html
/Practiceques22.css
/Practiceques22.html
/Practiceques23.css
/Practiceques23.html
/Practiceques24.css
/Practiceques24.html
/practiceques25.css
/practiceques25.html
/practiceques3.html
/Practiceques4.html
/Practiceques5.html
/Practiceques6.html
/Practiceques7.html
/Practiceques8.html
/Practiceques9.html
/Practicequestion1.html
/Radio.html
/random.jpeg
/Range.html
/select.html
/selector.css
/selector.html
/smileyface.css
/smileyface.html
/spiderman.image.jpg
/style.css
/sub&sup.html
/Tables.html
/Tags.html
/Textarea.html
/Tran.css
/Tran.html
/Transform.css
/Transform.html
/videotag.html
/white shirt pic.pdf
/womenimage.jpeg